@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
    border: none;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5rem;
}
.background{
    background-image: url(logo.oficial.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
body{
    background-color: black;
}
header{
    display: flex;
    justify-content:space-between;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
    
}
.logo img{
    width: 75px;
    height: auto;
    border-radius: 4rem;
    margin-left: 5rem;
}
ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
ul li{
    list-style: none;
    
}
ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.c-icon{
    color: #fff;
    margin-right: 5rem;
}
.icone ion-icon{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    
}
ul li a:hover{
    text-transform: capitalize;
    color: rgb(101, 110, 3);
   

}
hr{
    border-bottom: solid 0.1px;
    color: rgb(54, 46, 46);
    margin-top: 15px;
}
.c-title{
    margin-left: 5rem;
    margin-top: 10rem;
}
.c-title h1{
    color: #fff;
    font-size: 3.5rem;
}
.c-title p{
    color: rgb(231, 208, 208);
    line-height: 2rem;
    font-weight: 100;
    font-size: 1.2rem;
}
.c-title button{
    border-radius: 1.2rem;
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}
.c-title button:hover{
    border-radius: 1.4rem;
    letter-spacing: 2px;
    transition: 0.3s all;
}
.section-1 h1{
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;

}
.section-1 span{
    color: #d3ad7f;
}
.section-1{
    padding: 5rem;
}
.sobre-nos{
    display: flex;
    align-items: center;
    background-color: #13131a;
    max-width: 100%;
    width: 100%;
    margin-top: 1rem;
}
.sobre-nos img{
    max-width: 100%;
    width: 70rem;
    height: 60rem;
    
}
.sobre-nos-title{
    margin-left: 1.3rem;
}
.sobre-nos-title h2{
    color: #fff;
    font-size: 2rem;
}
.sobre-nos-title p{
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}
.sobre-nos-title button{
    background-color: #d3ad7f;
    margin-top: 2rem;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    cursor: pointer;
    font-weight: bold;

    
}
.sobre-nos-title button:hover{
    letter-spacing: 1px;
    transition: 0.3s all;
    

}
.section-2 h1{
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;

}
.section-2 span{
    color: #d3ad7f;

}

.container-card-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.card-img {
    border: solid rgba(255, 255, 255, .3);
    max-width: 100%;
    padding: 5rem;
    align-items: center;
    text-align: center;
    width: 30rem;
    height: auto;

}
.card-img img{

    align-items: center;
    
    width: 120px;
    height: auto;
    border-radius: 1rem;
    
}
.card-img h3{
    font-size: 1.5rem;
    color: #fff;
    
}
.card-img p{
    color: #ccc;
    font-size: 1.8rem;
    margin-top: 1rem;

}
.card-img button{
    margin-top: 1rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold
}

.card-img button:hover{
    letter-spacing: 1px;
    transition: 0.3s all;




}
 .card-img span{
    color: #fff;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 1rem;

 }
 .card-img:hover{
    transform: scale(1.1);
    transition: 0.5s all;
    background-color: #0d0d0f;
 }
 #container-card-2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;


 }


